# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt
*.log
*.bin
*.hdf5


__pycache__
smoke_logs_llm
smoke_logs_no_llm
runs
real_logs_llm
real_logs_no_llm
radio_astro_data
**/runs/
*.tmp
__pycache__/
*.pyc
# Local logs
logs/
**/logs/
logs/*
**runs/*

# Local dataset
radio_astro_data/
radio_astro_data/*
**/radio_astro_data/
